/* src/components/styles/Footer.css */

.footer{
  background-color: white;
  color: black;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
}


/* Responsive adjustments */
@media (max-width: 600px) {
  .footer{
    font-size: 0.8rem;
    padding: 0.8rem 0;
  }
}
